version: "3"
services:
    tailscale:
        hostname: tailscale
        image: ghcr.io/tailscale/tailscale
        stdin_open: true
        volumes:
          - "./tailscale_var_lib:/var/lib"
          - "/dev/net/tun:/dev/net/tun"
        cap_add:
          - net_admin
          - sys_module
        command: tailscaled

    curl:
        image: curlimages/curl
        network_mode: service:tailscale
        command: sleep infinity
        stdin_open: true
        tty: true
